*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    font-family: 'Rubik Mono One', sans-serif;
}

.rosso{
    width: 100%;
    height: 100vh;
    background-color: red;
    position: relative;
}

.verde{
    width: 100%;
    height: 100vh;
    background-color: green;
    position: relative;
}

.giallo{
    width: 100%;
    height: 100vh;
    background-color: yellow;
    position: relative;
}

.immagine_testo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.immagine > img{
    width: 500px;
    cursor: pointer;
}

.rosso > .immagine_testo > .testo, .verde > .immagine_testo > .testo{
    color: yellow;
    font-size: 25px;
    width: 500px;
}

.giallo > .immagine_testo > .testo{
    color: green;
    font-size: 25px;
    width: 500px;
}

.rosso::after{
    clear: both;
    content: "";
    display: table;
}

.pallino{
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    background-color: white;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    margin-top: 40px;
    margin-left: 40px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}

.pallino.tre{
    margin-right: 25px;
}